body {
    color: #3d3d3d;
    font-size: 13px;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}
.flex-box {
    display: flex;
}

.flex-v {
    flex-direction: column;
}

.flex-h {
    flex-direction: row;
}

#app {
    min-height:100vh;
}

#header {
    background-color: #6e7794;
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 48px;
    padding: 0px 10px;
}

#header a, #footer a {
    color: white;
    text-decoration: none;
}

#header a:hover, #footer a:hover {
    text-decoration: underline;
}

#title {
    margin-right: 50px;
}

#page {
    display: block;
    flex: 1;
    flex-grow: 1;
}

#footer {
    background-color: #3d3d3d;
    color: white;
    padding: 10px 10px;
    line-height: 32px;
}

#controls {
    flex: 1;
}

#controls a {
    display: block;
    border-radius: 5px;
    line-height: 34px;
    padding: 0 10px;
    margin-top: 6px;
    margin-bottom: 8px;
}

#controls a:hover {
    background-color: #30323a;
    text-decoration: none;
    cursor: pointer;
}