body {
    display: flex;
    color: #3d3d3d;
    font-size: 13px;
    font-family: sans-serif;
}

.control {
    width: 200px;
}

.automata {
    flex: 1;
    flex-direction: column;
    display: flex;
}

#automata {
    flex: 1;
    position: relative;
    overflow: auto;
}

.log {
    width: 400px;
}

.log .container {
    font-family: monospace;
    font-size: 11px;
}

.panel {
    margin: 5px;
}

.panel .title {
    background-color: #438ca6;
    color: white;
    font-weight: 600;
    padding: 10px;
}

.panel .container {
    padding: 10px;
}

.panel .container .input {
    margin-bottom: 10px;
}

.panel .container .label {
    font-weight: 600;
    margin-bottom: 3px;
}

button {
    margin-bottom: 3px;
    margin-right: 3px;
}
